<div class="tab-pane fade in" id="caseDetails">

    <div class="row">
        <div class="col-lg-8">
            <h4>Information Details</h4>
        </div>
        <div class="col-lg-4">
            <%= link_to 'Edit Details', '#', class: "btn btn-default form-control",
            data: {toggle: "modal", target: "#caseModalForm"}%>
        </div>
    </div>

    <hr>

    <div id="op-details">
      <%= render 'cases/case_details' %>
    </div>

</div>
