<div class="tab-pane fade in" id="userActivities">
<div class="row">
<div class="col-lg-12">
  <% if @user.opportunities.blank? %>
  <br>
  <p>No opportunities created yet.</p>
  <% else %>

  <h3>Opportunities Registered</h3>
  <hr>
  <div class="row">
    <div class="col-lg-6">
      <strong>Name</strong>
    </div>
    <div class="col-lg-3">
      <strong>Status</strong>
    </div>
    <div class="col-lg-3">
      <strong>Created at</strong>
    </div>
  </div>
  <% @user.opportunities.each do |op| %>
  <div class="row">
    <div class="col-lg-6">
  <%= link_to op.name, opportunity_path(op) %>
</div>
<div class="col-lg-3">
  <%= op.status %>
</div>
<div class="col-lg-3">
  <%= op.created_at.strftime('%d %b %Y') %>
</div>
</div>
  <% end %>
  <% end %>

</div>
</div>
</div>
