<div class="row">
    <div class="col-lg-10">
        <h1>CRM Users</h1>
        <p><%= pluralize(@users.count,'item') %></p>
    </div>
    <div class="col-lg-2" style="padding-top: 25px;">
        <%#= link_to 'New Contact', new_user_registration_path, class: "btn btn-default" %>
    </div>
</div>



<hr>

<div class="row">
    <div class="col-lg-1 text-center">
      <strong>ID</strong>
    </div>
    <div class="col-lg-3">
        <strong>Name</strong>
    </div>
    <div class="col-lg-3">
        <strong>Phone</strong>
    </div>
    <div class="col-lg-3">
        <strong>Email</strong>
    </div>
    <div class="col-lg-2">
        <strong>Action</strong>
    </div>
</div>

<% if @users.blank? %>
No users registered yet.
<% else %>
  <%= render @users %>
<% end %>
