<div class="row">
  <div class="col-lg-12">
  <div class="media">
      <div class="media-left">
          <div style="padding-top: 20px;"></div>
          <%= letter_avatar_tag('Users', 50, class: "media-object") %>
      </div>
      <div class="media-body">
          <h3>Users<br>
              <small>Local Basic CRM</small>
          </h3>
      </div>
  </div>
</div>
</div>

<hr>

<div class="row">
    <div class="col-lg-1 text-center">
      <strong>ID</strong>
    </div>
    <div class="col-lg-2">
        <strong>Name</strong>
    </div>
    <div class="col-lg-1">
      <strong>Position</strong>
    </div>
    <div class="col-lg-2">
      <strong>Department</strong>
    </div>
    <div class="col-lg-2">
        <strong>Phone</strong>
    </div>
    <div class="col-lg-2">
        <strong>Email</strong>
    </div>
    <div class="col-lg-2 text-center">
        <strong>Action</strong>
    </div>
</div>

<% if @users.blank? %>
No users registered yet.
<% else %>
  <%= render @users %>
<% end %>
