<% if event.event_date.blank? %>
<span style="color: red;">
    Date not specified
</span>
<% else %>
  <% if event.event_date.strftime('%d %b %Y') == Date.today.strftime('%d %b %Y') %>
  <small>Today</small><br>
  <% end %>
  <%= event.event_date.strftime('%d %b %Y at %H:%M') %><br>
  <small>
    <%= distance_of_time_in_words(event.event_date, Time.now) %>
  <% if event.event_date > Time.now %>
  left
  <% elsif event.event_date < Time.now %>
  ago<br>
  <span style="color: red;">Due date passed</span>
  <% end %>
  </small>
<% end %>
