<% @collect = [] %>
<% Contact.all.each do |ct| %>
  <% catch :here do %>
  <% @subject.contacts.each do |sbjct| %>
    <% if sbjct.id == ct.id %>
    <% throw :here %>
    <% end %>
  <% end %>
  <% @collect << ct %>
  <% end %>
<% end %>

<small>Choose Contact to be associated with</small>
<select name="assigned[]" id="assigned_" class="selectpicker form-control" multiple data-live-search="true" data-selected-text-format="count > 6" data-size="10" data-actions-box="true">

  <optgroup label="Contact">
    <% @collect.each do |ct| %>
    <option value="<%= ct.id %>"><%= ct.name %></option>
    <% end %>
  </optgroup>

</select>
