<div class="tab-pane fade in" id="relatedContacts">
    <div class="row">
        <div class="col-lg-8">
            <h4>Related Contacts</h4>
        </div>
        <div class="col-lg-4">
          <a href="#", class="dropdown-toggle" data-toggle="dropdown">
            <div class="btn btn-default">
              Contacts
              <i class="caret"></i>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create New Contact', '#',
            data: {toggle: "modal", target: "#contactModalForm"}%>
            </li>
            <li><%= link_to 'Assign Contact', '#' %></li>
          </ul>

        </div>
    </div>

    <%= render 'contacts/form' %>

    <hr>

    <div id="contact" class="row">
        <%= render 'contacts/contact' %>
    </div>

</div>
