<div class="tab-pane fade in" id="opportunityContacts">

    <div class="row">
        <div class="col-lg-8">
            <h4>Opportunity Related Contacts</h4>
        </div>
        <div class="col-lg-4">
            <%= link_to 'Create New Contact', '#', class: "btn btn-default form-control",
            data: {toggle: "modal", target: "#contactModalForm"}%>
        </div>
    </div>

    <%= render 'contacts/form' %>

    <hr>
    
    <div id="contact" class="row">
        <%= render 'contacts/contact' %>
    </div>
</div>
