<div class="tab-pane fade in" id="relatedContacts">
    <div class="row">
        <div class="col-lg-8">
            <h4>Related Contacts</h4>
        </div>
        <div class="col-lg-4">
          <a href="#", class="dropdown-toggle" data-toggle="dropdown">
            <div class="btn btn-default">
              Action
              <i class="caret"></i>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create New Contact', '#',
            data: {toggle: "modal", target: "#contactModalForm"}%>
            </li>
            <li><%= link_to 'Assign Contact', '#',
            data: {toggle: "modal", target: "#assignContactForm"}%>
            </li>
          </ul>
        </div>
    </div>

    <%= render 'contacts/new_form' %>

    <!-- Modal -->
    <div id="assignContactForm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assign Contacts</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div id="notice-contact"></div>
    <div id="contact" class="row">
        <%= render 'contacts/contact' %>
    </div>

</div>
