<div class="tab-pane fade in" id="opportunityDocs">
  <h4>Opportunity Related Documents</h4>

  <div class="panel panel-default panel-body">

    <%= link_to 'Add documents', '#', data: {toggle: "modal", target: "#opportunityModalForm"} %>
  </div>

  <div class="row">
    <% if @opportunity.documents.blank? %>
    <p>There are no documents uploaded yet.</p>
    <% else %>
        <% @opportunity.documents.each do |document| %>
        <div class="col-lg-3 text-center">
            <br>
            <%= link_to document.doc.url do %>
              <%= image_tag(document.doc.url(:thumb), class: "img-responsive img-center") %>
            <% end %>
            <%= check_box_tag "attached[]", document.id %>
        </div>
        <% end %>
        <p>Check the box(es) to <span style="color: red;">DELETE</span> attachment(s)</p>
    <% end %>
  </div>

</div>
