<div class="panel panel-default panel-body">
<h4><strong>Latest Contacts Registered</strong></h4>
<hr>
<% if @contacts.blank? %>
No contacts found.
<% else %>

<div class="row">
    <div class="col-lg-6">
        <small>Name</small>
    </div>
    <div class="col-lg-6">
        <small>Created at Datetime</small>
    </div>
</div>

<% @contacts.each do |contact| %>
<div class="row">
    <div class="col-lg-6">
      <%= link_to contact[0], '#' %>
    </div>
    <div class="col-lg-6">
      <%= contact[1].strftime('%d %b %Y %H:%M:%S') %>
    </div>
</div>
<% end %>
<% end %>

<% if @contacts.count >= 6 %>
<hr>
<h5 class="text-center"><%= link_to 'View All Contacts', contacts_path %></h5>
<% end %>

</div>
