<div class="panel panel-default panel-body">
    <h4><strong>Top Accounts - Opportunity Closed-Loss</strong></h4>
    <hr>
    <% if @oploss.blank? %>
    No Closed-Loss opportunities found.
    <% else %>
    <div class="row">
      <div class="col-lg-4">
        <small>Account Name</small>
      </div>
      <div class="col-lg-4">
        <small>Opportunity Name</small>
      </div>
      <div class="col-lg-4">
        <small>Amount in RM</small>
      </div>
    </div>
      <% @oploss.take(6).each do |loss| %>
      <div class="row">
        <div class="col-lg-4">
          <%#= link_to loss.account.account_name, account_path(loss.account) %>
          <%= link_to loss[0], account_path(loss[1]) %>
        </div>
        <div class="col-lg-4">
          <%#= link_to loss.name, opportunity_path(loss) %>
          <%= link_to loss[2], opportunity_path(loss[3]) %>
        </div>
        <div class="col-lg-4">
          <%= sprintf('%.2f' % loss[4]) %>
        </div>
      </div>
      <% end %>

      <% if @oploss.count >= 6 %>
      <hr>
      <div class="row">
          <div class="col-lg-12 text-center">
              <h5><%= link_to 'View All Closed-Loss Opportunities',
              opportunities_path(status: "Closed-Loss", type: "Opportunity") %></h5>
          </div>
      </div>
      <% end %>

    <% end %>
</div>
