<h5>Latest Contacts</h5>
<hr>
<% if @contacts.blank? %>
No contacts yet.
<% else %>

<div class="row">
    <div class="col-lg-6">
        <small>Name</small>
    </div>
    <div class="col-lg-6">
        <small>Created at Datetime</small>
    </div>
</div>

<% @contacts.each do |contact| %>
<div class="row">
    <div class="col-lg-6">
      <%= link_to contact.name, '#' %>
    </div>
    <div class="col-lg-6">
      <%= contact.created_at.strftime('%d %b %Y %H:%M:%S') %>
    </div>
</div>
<% end %>
<% end %>

<% if @contacts.count >= 6 %>
<hr>
<h5 class="text-center"><%= link_to 'View All Contacts', contacts_path %></h5>
<% end %>
