<div class="panel panel-default panel-body">
    <h5>Closed Loss by Reason</h5>
    <% if @oploss.blank? %>
    There are no opportunities loss yet.
    <% else %>
    <div class="row">
      <div class="col-lg-4">
        <small>Account Name</small>
      </div>
      <div class="col-lg-4">
        <small>Opportunity Name</small>
      </div>
      <div class="col-lg-4">
        <small>Loss Reason</small>
      </div>
    </div>
      <% @oploss.each do |loss| %>
      <div class="row">
        <div class="col-lg-4">
          <%= link_to loss.account.account_name, account_path(loss.account) %>
        </div>
        <div class="col-lg-4">
          <%= link_to loss.name, opportunity_path(loss) %>
        </div>
        <div class="col-lg-4">
          <%= loss.loss_reason %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
