<div class="panel panel-default panel-body">
<h4><strong>Cases by Status</strong></h4>
<hr>
<% if @cases_inprogress.blank? && @cases_solved.blank? %>
No cases found.
<% else %>

<%= render 'dashboards/dashboard_cases_block', cases_block: @cases_inprogress %>
<%= render 'dashboards/dashboard_cases_block', cases_block: @cases_solved %>

<h5 class="text-center"><%= link_to 'View All Cases',
opportunities_path(type: "Case") %></h5>
<% end %>
<!-- cases blank -->
</div>
