<div class="panel panel-default panel-body">
<h4><strong>Latest Cases Registered</strong></h4>
<hr>
<% if @cases.blank? %>
No cases found.
<% else %>
<div class="row">
    <div class="col-lg-6 col-xs-6">
        <small>Case Name</small>
    </div>
    <div class="col-lg-6 col-xs-6">
        <small>Created at DateTime</small>
    </div>
</div>
<% @cases.each do |cs| %>
<div class="row">
    <div class="col-lg-6 col-xs-6">
        <%= link_to cs[1], opportunity_path(cs[0]) %>
    </div>
    <div class="col-lg-6 col-xs-6">
        <%= cs[2].strftime('%d %b %Y %H:%M:%S')%>
    </div>
</div>
<% end %>
<% end %>

<% if @cases.count >= 6 %>
<hr>
<h5 class="text-center"><%= link_to 'View All Cases',
opportunities_path(type: "Case") %></h5>
<% end %>
</div>
