<div class="row">

<%= link_to sales_index_path(type: "sales") do %>
<div class="col-lg-6 text-center" style="padding-top: 250px; padding-bottom: 250px;">
Sales Dashboard
</div>
<% end %>

<%= link_to marketing_index_path(type: "marketings") do %>
<div class="col-lg-6 text-center" style="padding-top: 250px; padding-bottom: 250px;">
Marketing Dashboard
</div>
<% end %>

</div>
