<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h3>Create New Marketing Entry</h3>
        <hr>
        <%= simple_form_for [@account, @marketing] do |f| %>
        <div class="row">
            <div class="col-lg-12">
              <%= render 'marketings/form', f: f %>
            </div>
        </div>
        <hr>
        <%= f.button :submit, class: "btn-success" %>
        <% end %>
        <!-- simple_form_for -->
    </div>
    <div class="col-lg-2"></div>
</div>

<%= render 'marketings/form_script' %>
