<div class="tab-pane fade in" id="opportunityDetails">

    <div class="row">
        <div class="col-lg-8">
            <h4>Opportunity / Case Details</h4>
        </div>
        <div class="col-lg-4">
            <%= link_to 'Edit Details', '#', class: "btn btn-default form-control",
            data: {toggle: "modal", target: "#opportunityModalForm"}%>
        </div>
    </div>

    <hr>

    <div id="op-details">
      <%= render 'opportunities/op_details' %>
    </div>

</div>
