<div class="row">
    <div class="col-lg-2">
        <small>Account</small>
        <br>
        <h4>
            <% if @opportunity.account.blank? %>
            <span style="color: red;">Account not assigned</span>
        <% else %>
            <%= @opportunity.account.account_name %>
            <% end %>
        </h4>
    </div>
    <div class="col-lg-2">
        <small>Amount</small>
        <br>
        <h4>
            <% if @opportunity.amount.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            <%= @opportunity.amount %>
            <% end %>
        </h4>
    </div>
    <div class="col-lg-2">
        <small>Status</small>
        <br>
        <h4>
            <% if @opportunity.status == "Closed-Loss" %>
            <span style="color: red;">Closed-Loss</span>
            <% elsif @opportunity.status == "Closed-Win" %>
            <span style="color: green;">Closed-Win</span>
            <% elsif @opportunity.status == "Open" %>
            Open
            <% end %>
        </h4>
    </div>

    <% unless @opportunity.status == "Open" %>
    <div class="col-lg-2">
        <small>Close Date</small>
        <br>
        <h4>
            <% if @opportunity.close_date.blank? %>
            Open
        <% else %>
            <%= @opportunity.close_date.strftime('%d %b %Y') %>
            <% end %>
        </h4>
    </div>
    <% end %>
    <div class="col-lg-2">
        <small>Opportunity Owner</small>
        <br>
        <h4><%= @opportunity.user.name %></h4>
    </div>
</div>
