<div class="row">
    <div class="col-lg-10">
        <h3>
          <small>Opportunity</small><br>
          <%= @opportunity.name %>
        </h3>
    </div>
    <div class="col-lg-2">
        <div class="btn-group pull-right" style="padding-top: 20px;">
            <%= link_to 'Edit Details', '#', class: "btn btn-default",
            data: {toggle: "modal", target: "#opportunityModalForm"}%>
            <%= link_to 'Delete', opportunity_path(@opportunity), method: :delete,
data: {confirm: "Are you sure?"},class: "btn btn-default" %>
        </div>
    </div>
</div>
