<div class="container" id="opportunityNotes">
    <div class="row">
        <% for i in 1..6 do %>
        <div class="col-lg-3">
            <div class="panel panel-default panel-body">
                <%= link_to 'This is note about opportunity'%>
                <p>adf asdfads asd asdf ad ads ad fa</p>
            </div>
        </div>
        <% end %>
    </div>
</div>

<div class="modal">
    <div class="modal-body"></div>
</div>
