<div class="container tab-pane fade in" id="opportunityDocs">
    <div class="row">
        <% for i in 1..6 do %>
        <div class="col-lg-2">
            <br>
            <%= image_tag('http://placehold.it/200x250', class: "img-responsive img-center")%>
        </div>
        <% end %>
    </div>
</div>
