<div class="tab-pane fade in active" id="accountOpportunities">
    <div class="row">
        <div class="col-lg-8">
            <h4>Account Related Opportunities / Cases</h4>
        </div>
        <div class="col-lg-4">
          <%= link_to 'Create New', '#', class: "btn btn-default form-control",
          data: {toggle: "modal", target: "#opportunityAccountForm"}%>
        </div>
        <div id="notice-ops"></div>
    </div>
    <%= render 'accounts/account_op_form' %>
    <hr>
    <div id="acc-op">
    <%= render 'accounts/acc_op' %>
    </div>
</div>
