<div class="tab-pane fade in active" id="accountDetails">
    <div class="row">
        <div class="col-lg-8">
            <h4>Account Details</h4>
        </div>
        <div class="col-lg-4">
            <%= link_to 'Edit Details', '#', class: "btn btn-default form-control",
            data: {toggle: "modal", target: "#accountModalForm"}%>
        </div>
        <div id="notice-details"></div>
    </div>
    <hr>
    <div id="acc-details">
      <%= render 'accounts/details_partial' %>
    </div>
</div>
