<div class="row">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <p><%= pluralize(Account.count, 'item') %></p>
    </div>
    <div class="col-lg-2" style="padding-top: 25px;">
        <%= link_to 'New Account', '#', class: "btn btn-default",
        data: {toggle: "modal", target: "#accountModalForm"} %>
    </div>
</div>
<hr>
<% provide( :form_title, 'Create New Account') %>
<%= render 'form' %>

<% if @accounts.blank? %>
There are no accounts registered yet.
<% else %>
<div class="row">
    <div class="col-lg-1">
        <strong>ID</strong>
    </div>
    <div class="col-lg-2">
        <strong>Name</strong>
    </div>
    <div class="col-lg-2">
        <strong>Phone</strong>
    </div>
    <div class="col-lg-2">
        <strong>Industry</strong>
    </div>
    <div class="col-lg-2">
        <strong>Type</strong>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <strong>Action</strong>
    </div>
</div>
<%= render @accounts %>
<% end %>
